<div class="container">

  <h2><%= @list.name %></h2>
  <div class="cards mb-4">
  <% @list.movies.each do |movie| %>
  <% @bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <div class="card-product">
  <img src="<%= movie.poster_url %>" />
  <div class="card-product-infos">
    <div class="d-flex justify-content-between align-items-center">
    <h2><%= movie.title %></h2>
    <%= link_to "🗑", destroy_path(movie.bookmarks[0].id), method: :delete %>
    </div>
    <p> Rating: <%= movie.rating %>  </p>
    <p> Comment: <%= @bookmark.comment %></p>
    <%= movie.overview %>
  </div>
  </div>
  <% end %>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "Add a New Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary", id: "button_add_bookmark" %>
    <%= link_to "Back to All Lists", lists_path %>
  </div>
</div>
